{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Industry | Template</title>
    <meta name="description" content>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/icon/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <header>
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-top d-none d-sm-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="d-flex justify-content-between flex-wrap align-items-center">
                                    <div class="header-info-left">
                                        <ul>
                                            <li>+10 (78) 675-9064</li>
                                            <li><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                   data-cfemail="c2b6a7a1aaacadaeada5bb82abaca6b7b1b6b0bbeca1adaf">[email&#160;protected]</a>
                                            </li>
                                            <li>Sun - Fri (10AM - 7PM)</li>
                                        </ul>
                                    </div>
                                    <div class="header-info-right d-none d-md-block">
                                        <ul class="header-social">
                                            <li><a href="{% static 'assets/css/style.css' %}"><i class="fab fa-facebook"></i></a></li>
                                            <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li> <a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">

                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/index">Home</a></li>
                                            <li><a href="/services">Services</a></li>
                                            <li><a href="/project">Projects</a></li>
                                            <li><a href="/about">About</a></li>
                                            <li><a href="/blog">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="/blog">Blog</a></li>
                                                    <li><a href="/blog_details">Blog Details</a></li>
                                                    <li><a href="/elements">Elements</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li>
                                                <div class="nav-search search-switch">
                                                    <i class="fa-solid fa-magnifying-glass fa-beat"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="header-right-btn f-right  ml-15">
                                                    <a href="#" class="header-btn">Get Free Quote</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>