{% include 'assets/header.html' %}
{% load static %}
<main>

<div class="slider-area">
<div class="single-slider slider-bg4 hero-overly slider-height2 d-flex align-items-center">
<div class="container">
<div class="row justify-content-center ">
<div class="col-xl-12">

<div class="hero-caption hero-caption2 text-center">
<h2>Projects</h2>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="guest-house top-padding">
<div class="container">
<div class="row">
<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-sm-9">
<div class="section-tittle mb-70">
<span>Projects</span>
<h2>See Latest Projects For our Client</h2>
</div>
</div>
</div>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-md-6 col-sm-6 p-0">
<div class="single-location">
<img src="{% static 'assets/img/gallery/gallery1.jpg' %}" alt>
<div class="guest-contents">
<p>Gas & Oil</p>
<h3><a href="#">Power and Energy</a></h3>
</div>
</div>
</div>
<div class="col-md-6 col-sm-6 p-0">
<div class="single-location">
<img src="{% static 'assets/img/gallery/gallery2.jpg' %}" alt>
<div class="guest-contents">
<p>Gas & Oil</p>
<h3><a href="#">Power and Energy</a></h3>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 p-0">
<div class="single-location">
<img src="{% static 'assets/img/gallery/gallery3.jpg' %}" alt>
<div class="guest-contents">
<p>Gas & Oil</p>
<h3><a href="#">Power and Energy</a></h3>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 p-0">
<div class="single-location">
<img src="{% static 'assets/img/gallery/gallery4.jpg' %}" alt>
<div class="guest-contents">
<p>Gas & Oil</p>
<h3><a href="#">Power and Energy</a></h3>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 p-0">
<div class="single-location">
<img src="{% static 'assets/img/gallery/gallery5.jpg' %}" alt>
<div class="guest-contents">
<p>Gas & Oil</p>
<h3><a href="#">Power and Energy</a></h3>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12 p-0">
<a href="#" class="btn_10 w-100 text-center">More Project<img src="{% static 'assets/img/icon/right-arrow.svg' %}" alt></a>
</div>
</div>
</div>
</div>

</main>
{% include 'assets/footer.html' %}
